.container {
  @mixin container $container-width, $container-gutter;

  @media (--large) {
    @mixin container $container-width, $container-gutter-large;
  }
}

details > summary::-webkit-details-marker {
  display: none;
}