.display-block {
  display: block;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.visually-hidden {
  @mixin no-display;
}

.visually-hidden--desktop {
  @media (--large) {
    @mixin no-display;
  }
}

.details-disabled-on-large {
  pointer-events: none;
}