.header {
  background-color: var(--color__primary);
}

.logo {
  margin-bottom: 0;
  margin-left: pxtorem(-4);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: pxtorem(63);

  @media (--large) {
    height: pxtorem(96);
  }
}

.header__button {
  color: var(--color__white);
  padding-right: pxtorem(9.5);
  padding-left: pxtorem(9.5);

  & i {
    font-size: pxtorem(15);
  }
}

.header__options-item {
  display: inline-block;
}